.col-md-4 {
  padding-right: 8px !important;
  padding-left: 4px !important;
  padding-bottom: 8px !important;
}

hr {
  margin-top: 0;
  margin-bottom: 1rem;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.nav-tabs-custom {
  border-bottom: 0px;
}
.nav-tabs-custom .nav-item {
  margin-bottom: -1px;
}
.nav-tabs-custom .nav-link {
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.nav-tabs-custom .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: transparent;
}
.nav-tabs-custom .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs-custom .nav-link.active,
.nav-tabs-custom .nav-item.show .nav-link {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs-custom .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-tabs-custom:hover .nav-link {
  border: 0px;
  border-radius: 50%;
  background-color: rgb(247, 243, 243);
}

.nav-tabs .nav-link {
  border: transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
