* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.logo {
  width: 150px;
  height: 40px;
}
.profileimage {
  width: 40px;
  height: 35px;
  border: 1px solid blanchedalmond;
  border-radius: 50%;
}
.list {
  right: 150px;
}
.ddmenu {
  margin-top: 7px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-color: transparent;
}

.bgoverlay {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(196, 77, 166, 0.729)),
    url("../images/frontimage.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.likeforamoto {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: thistle;
}

.likesforatext {
  font-size: 1.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: thistle;
}

.secondnav {
  position: absolute;
  top: 51px !important;
  left: 0px !important;
  width: 100%;
}

.topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: #f8f9fa;
  z-index: 1000000000000000000000000000000000000000;
}

.carouselwrapper {
  margin-top: 65px !important;
  overflow: hidden !important;
}

.navbar {
  position: relative;
}

.cardbg {
  border-color: darkgrey;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  overflow: hidden;
  height: 71px;
}

.groupwrapper {
  border: 1px;
  border-style: solid;
  border-color: darkgrey;
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 5px;
  margin-top: 15px;
}

.searchbg {
  background-color: black;
}

.postimg {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-radius: 50%;
  border-color: transparent;
}

.imgicon {
  width: 30px;
}

.cardbg:hover .hoverstory {
  background: -ms-linear-gradient(0deg, rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
  background: -moz-linear-gradient(0deg, rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
  background: -webkit-linear-gradient(0deg, rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
  background-size: cover;
  mix-blend-mode: overlay;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.carousel-item {
  width: 100%;
  height: auto;
}

.carousel-item.active {
  background: -ms-linear-gradient(0deg, rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
  background: -moz-linear-gradient(0deg, rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
  background: -webkit-linear-gradient(0deg, rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
}

.carousel-item.active img {
  z-index: -1;
}

.friendboard {
  font-size: 12px;
  margin-bottom: 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    "Geneva, Verdana, sans-serif";
}

.indicatortext {
  font-size: 10px;
  font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
  margin-left: 30px;
  margin-top: 0px;
  color: rgb(109, 108, 108);
}

.hourspace {
  position: absolute;
  font-size: 10px;
  font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
  margin-left: 50px;
  margin-top: 30px;
  color: rgb(109, 108, 108);
}

.dwcaret {
  opacity: 1;
  width: 25px;
  z-index: 100000;
  transition: 0.5s ease;
}

.imgpos {
  position: absolute;
  margin-top: 19px;
  top: 0px;
  left: 90%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease;
  cursor: pointer;
}

.customshadow {
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);
}

.containermobile {
  padding-right: 50px;
}

.rqst {
  width: 10px;
}

.imgboard {
  width: 35px;
  height: 30px;
}

.profilelayer {
  position: absolute;
  display: block;
  width: 100%;
  height: 620px;
  top: -20px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 50%, rgba(117, 19, 93, 0.6));
  background-image: -moz-linear-gradient(to top, rgba(255, 255, 255, 1) 50%, rgba(117, 19, 93, 0.6));
  background-image: -webkit-linear-gradient(to top, rgba(255, 255, 255, 1) 50%, rgba(117, 19, 93, 0.6));
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);
  background-size: cover;
}

.profilecard {
  position: relative;
  display: block;
  width: 75%;
  height: 75%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.userdescription {
  position: absolute;
  display: block;
  width: 290px;
  height: 150px;
  margin-top: -90px;
  margin-left: 60px;
  box-sizing: border-box;
  border-radius: 50rem;
  overflow: auto;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pixplaceholder {
  position: absolute;
  display: block;
  top: 260px;
  left: 240px;
  width: 45px;
  height: 45px;
}

.coverplaceholder {
  margin: auto;
  width: 200px;
  height: 40px;
  line-height: 40px;
}

.buttonpos {
  position: relative;
  top: -195px;
}

.containertopmargin {
  margin-top: 0px;
}

.overlay {
  position: fixed;
  display: none;

  /* color with alpha channel */
  background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */

  /* stretch to screen edges */
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.popup {
  position: relative;
  display: none;
  z-index: 100000000000000000;
  background-color: #fff;
  width: 60%;
  height: auto;
  margin: 20% auto;
  border-radius: 1rem;
  padding: 1rem;
}

.clspopup {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
}

.clspopup:hover {
  background-color: #aeb2b3;
}

.tagclass {
  box-sizing: border-box;
  border-radius: 50px;
  margin: 9px;
  min-width: 140px;
  max-width: 160px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7px;
  padding-left: 28px;
  background-color: #f8f9fa;
}

.notag {
  margin-top: 15px;
  margin-right: -25px;
  z-index: 1;
  cursor: pointer;
}

.tagnav {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(20px);
}

.tagnav:hover {
  background-color: #aeb2b3;
}

.imgclass {
  position: relative;
  display: block;
  width: 192px;
  height: 192px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 0.16rem;
}

.userbio {
  position: absolute;
  text-align: center;
}
.profileimgcard {
  position: absolute;
  display: block;
  top: 180px;
  left: 60px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-radius: 50%;
  overflow: hidden;
}

.likesstyle {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.reverse {
  top: auto;
  bottom: 100%;
}
.likesimg {
  width: 25px;
}

.workbg {
  display: none;
}

.academbg {
  display: none;
}

.noticeicons {
  position: fixed;
  display: block;
  min-width: 18px;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  line-height: 17px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: red;
  color: #fff;
  transform: translate(15px, -8px);
}

.dspmore {
  font-size: 0.75rem;
  color: rgba(117, 19, 93, 0.73);
}

.successdiv {
  display: none;
  min-width: 50px;
  height: auto;
  padding: 4px;
  font-size: 11px;
  color: rgb(6, 63, 20);
  background-color: rgb(164, 248, 164);
  border: 1px solid rgb(5, 51, 5);
}

.postimage {
  width: 2.5rem;
  height: 2rem;
}

.emoji-picker-icon {
  padding-top: 8px;
  padding-right: 10px;
  color: #fff !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: dimgray;
  -moz-text-stroke-width: 1px;
  -moz-text-stroke-color: dimgray;
}

.thumbnail {
  width: 120px;
  height: 100px;
  margin: 10px;
  float: left;
}

#imgresult {
  border: 4px dotted #cccccc;
  display: none;
  float: left;
  margin: 0 auto;
  width: 511px;
}

.postcard {
  min-width: 768px;
}

.tooltip.tooltip-top,
.tooltip.tooltip-bottom,
.tooltip.tooltip-left,
.tooltip.tooltip-right,
.tooltip {
  z-index: 10000;
}

.comment-form-container {
  background: #f0f0f0;
  border: #e0dfdf 1px solid;
  padding: 20px;
  border-radius: 2px;
}

.input-row {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  border-radius: 2px;
  padding: 10px;
  border: #e0dfdf 1px solid;
}

@media only screen and (max-width: 360px) {
  .list {
    right: 30px;
  }

  .otherstyle {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .containermobile {
    padding-right: 15px;
  }

  .buttonpos {
    top: -60px;
  }

  .imgpos {
    left: 75%;
  }

  .userdescription {
    margin-top: 20px;
    margin-left: 30px;
  }

  .containertopmargin {
    margin-top: 130px;
  }

  .ddown {
    font-size: 13px;
  }

  .likeforamoto {
    font-size: 2rem;
    text-align: center;
  }

  .likesforatext {
    font-size: 1.25rem;
    text-align: center;
  }

  .popup {
    width: 90%;
    height: 300px;
    margin: 40% auto;
    padding: 8px;
  }
}
