.logo{
    width: 150px;
    height: 40px;
}
.profileimage{
    width: 40px;
    height: 35px;
    border: 1px solid blanchedalmond;
    border-radius: 50%;
 }
 .list{
     right: 150px;
 }
 .ddmenu{
     margin-top: 7px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     border-top-color: transparent;
 }

 .secondnav{
     position: absolute;
     top: 51px !important;
     left: 0px !important;
     width: 100%;
 }

 .topbar{
     position: fixed;
     top:0px;
     left: 0px;
     width: 100%;
     height: 50;
     background-color: #f8f9fa;
     z-index: 1000000000000000000000000000000000000000;
 }

 .carouselwrapper{
    margin-top:65px !important; 
    overflow: hidden !important;
}

.navbar{
    position: relative;
}

.cardbg{
    border-color: darkgrey;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    overflow: hidden;
    height: 71px;
}

.groupwrapper{
    border: 1px;
    border-style: solid;
    border-color: darkgrey;
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}

.searchbg{
    background-color: black;
}

.postimg{
    width: 50px;
    height: 50px;
    border-style: solid;
    border-radius: 50%;
    border-color: transparent;
}

.imgicon{
    width: 30px;
}

.cardbg:hover .hoverstory{
    background: -ms-linear-gradient(0deg, rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
    background: -moz-linear-gradient(0deg,  rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
    background: -webkit-linear-gradient(0deg,  rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
    background-size: cover;
    mix-blend-mode: overlay;
    transform: scale(1.1);
    transition: 0.3s ease;
}

.carousel-item{
    width: 100%;
    height: auto;
}

.carousel-item.active{
    background: -ms-linear-gradient(0deg, rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
    background: -moz-linear-gradient(0deg,  rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
    background: -webkit-linear-gradient(0deg,  rgba(39, 36, 36, 0.3), rgba(49, 41, 41, 0.2));
}

.carousel-item.active img{
    z-index: -1;
}

.friendboard{
    font-size: 12px;
    margin-bottom: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
}

.indicatortext{
    font-size: 10px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    margin-left: 30px;
    margin-top: 0px;
    color: rgb(109, 108, 108);
}

.hourspace{
    position: absolute;
    font-size: 10px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    margin-left: 50px;
    margin-top: 30px;
    color: rgb(109, 108, 108);
}

.dwcaret{
    opacity: 1;
    width: 25px;
    z-index: 100000;
    transition: .5s ease;
}

.imgpos{
    position: absolute; 
    margin-top: 19px; 
    top:0px; 
    left: 90%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    transition: .5s ease;
    cursor: pointer;
}

.customshadow{
    box-shadow: 0 0 4px 0px rgba(0,0,0, 0.1);
}

.containermobile{
    padding-right:50px;
}

.rqst{
    width: 10px;
}

.imgboard{
    width: 35px;
    height: 30px;
}

.likesstyle{
    font-size: 12px; 
    color:rgba(0, 0, 0, 0.6);
}

.reverse{
    top: auto;
    bottom: 100%;
}
.likesimg{
    width: 25px;
}

 @media only screen and (max-width:360px){
    .list{
        right: 50px;
    }

    .otherstyle{
        margin-right: 0px !important;
        margin-left:0px !important;
    }

    .containermobile{
        padding-right: 15px;
    }

    .imgpos{
        left:75%;
    }

    .ddown{
        font-size: 13px;
    }
 }
